{% extends 'partials/base.html' %}
{% block html %}data-layout="horizontal" data-sidebar="dark" data-sidebar-size="lg" data-preloader="disable" data-theme="creative" data-bs-theme="light" {% endblock html %} 

{% block title %} Horizontal Layout {% endblock title %} 

{% block extra_css %}

    <!-- jsvectormap css -->
    <link href="{{url_for('static' ,filename='libs/jsvectormap/css/jsvectormap.min.css')}}" rel="stylesheet" type="text/css">
    
    <!--Swiper slider css-->
    <link href="{{url_for('static' ,filename='libs/swiper/swiper-bundle.min.css')}}" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% block content %}                  
                     

{% endblock content %}          
    
{% block extra_js %}

    <!-- apexcharts -->
    <script src="{{url_for('static' ,filename='libs/apexcharts/apexcharts.min.js')}}"></script>
    
    <!-- Vector map-->
    <script src="{{url_for('static' ,filename='libs/jsvectormap/js/jsvectormap.min.js')}}"></script>
    <script src="{{url_for('static' ,filename='libs/jsvectormap/maps/world-merc.js')}}"></script>
    
    <!--Swiper slider js-->
    <script src="{{url_for('static' ,filename='libs/swiper/swiper-bundle.min.js')}}"></script>
    
    <script src="{{url_for('static' ,filename='libs/list.js/list.min.js')}}"></script>
    
    <!-- Dashboard init -->
    <script src="{{url_for('static' ,filename='js/pages/dashboard-ecommerce.init.js')}}"></script>

{% endblock extra_js %}
   
   